:root {
    --primary-green: rgb(51, 204, 204);
}

body {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    background-color: rgb(22, 22, 22);
    /* Background color matches video background color so ther is no seam on shrinking screens */
    color: #fff;
}

a,
a:hover,
a:visited {
    color: white;
    text-decoration: none;
}


/** Navbar
 ---------------------------------------------------------*/
 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav a,
.navbar-text {
    color: #fff;
    letter-spacing: 1.2;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-nav a:hover {
    color: var(--primary-green);
    transition: color 500ms;
}

.navbar-nav .active {
    color: var(--primary-green);
    position: relative;
    padding-bottom: 2px;
}

/* .navbar-custom {
    background-color: rgba(22, 22, 22, 0.5);
} */


.fa-twitter-square:hover,  
.fa-facebook-square:hover, 
.fa-linkedin:hover, 
.fa-instagram:hover {
    color: var(--primary-green);
    cursor: pointer;
}


/** Background Video
 ---------------------------------------------------------*/
.section {
    text-align: center;
    overflow: hidden;
}

#section0 {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

 #bgvid {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 0;
 }

 .text-overlay {
     width: 100%;
     padding: 2rem;
     position: absolute;
     right: 0;
     bottom: 0;
     top: 25%;
     left: 0;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }



 .overlay_header {
    font-family: futura-pt-condensed, sans-serif;
    font-size: 3.75rem;
    text-transform: uppercase;
 }

 .overlay_text{
     font-size: 1rem;
     max-width: 30rem;
     margin-bottom: 1rem;
 }

 .overlay_btn {
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase; 
    letter-spacing: 1.5;
    color: #000;
    background-color: #fff;
    margin-top: 1rem; 
 }

 /** Services
 ---------------------------------------------------------*/
.service-icons {
    background-color: white;
    width: 100%;
    padding-bottom: 1rem;
} 

.card {
    height: 12rem;
    width: auto;
    border: none;
}
.card-img-top {
    height: 7rem;
    width: auto;
}

h5 {
    color: black;
}

.content-wrapper {
    width: 75rem;
    background-color: red;
}

.services-text {
    background-color: #fff;
}

.services_list {
    list-style: none;
    font-size: 1.25rem;
    color: black;
    
}

.service_lead-container {
    background-color: rgb(51, 204, 204);
}

.service_points-container {
    background-color: #fff;
}

/** Process
 ---------------------------------------------------------*/
 #processVid {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 3;
 }


 /** About Us
 ---------------------------------------------------------*/



  /** Contact
 ---------------------------------------------------------*/

 .contact-title {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 700;
    padding: 1rem 0;
}

.social {
    font-weight: 700;
}

 .social-contact ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-contact ul li {
    padding: 0 1rem;
}

.btn-sub {
    letter-spacing: 1.5;
    color: black;
    background-color: #fff;
    font-weight: 700;
    border-radius: .15rem;
}

.btn-form {
    width: 100%;
    letter-spacing: 1.5;
    color: black;
    background-color: #fff;
    font-weight: 700;
    border-radius: .15rem;
}

.form-control {
    background-color: rgb(46, 46, 46);
    border: 1px solid white;
    border-radius: .2rem;
}

.color2 {
    /* background-color: blue; */
}

.fp-scroller {
    overflow: hidden;
}





 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .text-overlay {
        top: 20%;
    }
   
    .overlay_header {
       font-size: 3.75rem;
    }
   
    .overlay_text{
        font-size: 1rem;
    }
   
    .overlay_btn {
       font-size: .8rem; 
    }
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-overlay {
        top: 15%;
    }
   
    .overlay_header {
       font-size: 4.75rem;
    }
   
    .overlay_text{
        font-size: 1.15rem;
    }
   
    .overlay_btn {
       font-size: 1rem; 
    }
}


/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}