:root {
    --primary-green: rgb(51, 204, 204);
}

body {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    background-color: rgb(22, 22, 22);
    /* Background color matches video background color so ther is no seam on shrinking screens */
    color: #fff;
}


/** Navbar
 ---------------------------------------------------------*/
 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav a,
.navbar-text {
    color: #fff;
    letter-spacing: 1.2;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-nav a:hover {
    color: var(--primary-green);
    transition: color 500ms;
}

.navbar-nav .active {
    color: var(--primary-green);
    position: relative;
    padding-bottom: 2px;
}

.navbar-custom {
    background-color: rgba(22, 22, 22, 0.5);
}


.fa-twitter-square:hover,  
.fa-facebook-square:hover, 
.fa-linkedin:hover, 
.fa-instagram:hover {
    color: var(--primary-green);
    cursor: pointer;
}


/** Background Video
 ---------------------------------------------------------*/


video#bgvid {
    display: none;
}

.mobile-images {
    position: relative;
}

.header-image {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


#heroVideo {
    background-color: rgb(23, 23, 23);
    height: 100vh;
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    flex-direction: column;
}

.title {
    font-family: futura-pt-condensed, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.2;
}

p.lead {
    font-size: 1.3rem;
}

.button-heading {
    font-weight: 600;
}

/** Media Queries
 ---------------------------------------------------------*/

 /* Small Devices */
@media (min-width: 576px){

    .title {
        font-size: 4.5rem;
    }

    p.lead {
        font-size: 1.4rem;
    }
}


/* Medium Devices */
@media (min-width: 768px){
    .title {
        font-size: 5rem;
    }
}

/* Large Devices */
@media (min-width: 992px){
    
    body {
        /* Might only be needed temporarily, because of background image being used. */
        background-color: rgb(34, 34, 34);
    }

    .navbar-nav .active:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        bottom: 0;
        left: 25%;
        border-bottom: 2px solid var(--primary-green);
    }

    .navbar-custom {
        background-color: transparent;
    }

    #heroVideo {
        background-image: none;
        background-color: transparent;
    }

    .header-image {
        display: none;
    }

    video#bgvid {
        position: block;
        display: block;
        top: -15%;
        left: 0%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        overflow: hidden;
    }
}

/* Extra Large Devices */
@media (min-width: 1200px){
    .text-overlay {
        padding-top: 12rem;
    }
}


/* Drop marketing logo on mobile to top:30 */
/* On mobile then bring up the overlay a bit higher also to fill void */
/* Ajust values for other versions */